# EDA Notebook
Exploring demo e-commerce dataset.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('../data/raw/demo.csv')
df.head()

   InvoiceNo  CustomerID  Quantity  UnitPrice InvoiceDate
0       1001           1         2       10.0  2021-01-01
1       1002           2         1       20.0  2021-01-02
2       1003           1         3       15.0  2021-01-05
3       1004           3         5        5.0  2021-01-07